html, body {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}


.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  height: 100%;
  width: 100%;
}


.header {
  flex: 0 0 100%;
  text-align: center;
  min-height: 2.5em;
  max-height: 2em;
  font-size: 3.2em;
  color: #F4B350;
  font-family: 'Signika';
  text-align: center;
  align-content: center;
  padding:20px 0px 20px 0px;
  margin-bottom: 6px;
  background-color: rgba(0,0,0,0.5);
  text-shadow: 3px 3px 10px #000;
  display: block;

}

.wrapper > div {
  padding: 5px;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;

}

.roomlist {
  flex: 1; 
  display: flex;
  background-color: #F1F1F2;
  font-family: 'Signika';
  text-align: center;
  height: calc(100vh - 100px);


}

.main {
 flex: 0 0 75%;
 text-align: center;

}
